!!!
%html
  %head
    %title Chapel Radio
    = stylesheet_link_tag    "application", media: "all"
    /[if lt IE 8]
      = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header.container
      .row
        .span12
          %h1.logo.span9 Welcome to Chapel Radio
          %nav.span3
            %button.btn.btn-block Sign in to share

    = yield
    %footer
      %p Brought to you by thebennettproject.com
