!!!
%html
  %head
    %title Chapel Radio
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag    "application", media: "all"
    /[if lt IE 8]
      = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.main
    %header.container
      %h1.logotype.pull-left Chapel Radio
      %nav.span2.pull-right
        %button.btn.btn-large.btn-block.btn-info{href: "#"} Sign in to share

    = yield
    %footer
      .container
        %p Brought to you by thebennettproject.com
