!!!
%html
  %head
    %title Chapel Radio
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag    "application", media: "all"
    /[if lt IE 8]
      = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,700,300", media: "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:300,400,700,900", media: "all"
    -# TODO: See which of the Lato fonts is in use. Trim only to those used for production.
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.main
    %header.container
      %a{href: "/"}
        %h1.logotype Chapel Radio
      %nav.navbar
        %ul.nav
          -#%li
            %a{href: ""} Stations
          %li
            %a{href: "/about"} About
        /%button.btn.btn-large.btn-block.btn-info{href: "#"}Menu

    = yield
    %footer
      .container
        .row
          .span12
            %p Brought to you by thebennettproject.com

    / Piwik Tracking Code
    :javascript
      var pkBaseURL = (("https:" ==
      document.location.protocol) ? "https://thebennettproject.com/piwik/" : "http://thebennettproject.com/piwik/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 6);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
      } catch( err ) {}
    %noscript
      %p
        %img{src: "http://thebennettproject.com/piwik/piwik.php?idsite=6", style: "border:0", alt: ""}
    / End Piwik Tracking Code
